<%= form_with(model: sock, local: true) do |form| %>
  <% if sock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sock.errors.count, "error") %> prohibited this sock from being saved:</h2>

      <ul>
        <% sock.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if sock.persisted? %>
    <p>Codename</p>
    <p><%= @sock.code_name %></p>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :middle_name, class: "form-label" %>
    <%= form.text_field :middle_name, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :birthday, class: "form-label"  %>
    <div class="input-group">
      <%= form.date_select :birthday, { start_year: Date.today.year - 90,
                                        end_year: Date.today.year - 18, prompt: true }, class: "form-select" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :interests, class: "form-label"   %>
    <%= form.text_area :interests, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :skills, class: "form-label"   %>
    <%= form.text_area :skills, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :languages, class: "form-label"   %>
    <%= form.text_area :languages, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :operating_system, class: "form-label"   %>
    <%= form.text_field :operating_system, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :mobile_device, class: "form-label"   %>
    <%= form.text_field :mobile_device, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :neighborhood, class: "form-label"   %>
    <%= form.text_field :neighborhood, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :city, class: "form-label"   %>
    <%= form.text_field :city, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :state, class: "form-label"   %>
    <%= form.text_field :state, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :country, class: "form-label"   %>
    <%= form.text_field :country, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :notes, class: "form-label"   %>
    <%= form.rich_text_area :notes, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', :back, class: "btn btn-link" %>
  </div>
<% end %>
