<h2>
  <%= @sock.code_name %>
</h2>

<% if @sock.dirty? %>
  <div class="alert alert-warning" role="alert">
    This Sock was marked dirty on <%= @sock.marked_dirty_at.to_s :long_ordinal %>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @sock.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sock.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @sock.birthday %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @sock.interests %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @sock.skills %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @sock.languages %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @sock.operating_system %>
</p>

<p>
  <strong>Mobile device:</strong>
  <%= @sock.mobile_device %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @sock.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @sock.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sock.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sock.country %>
</p>

<%= link_to 'Edit', edit_sock_path(@sock), class: 'btn btn-secondary' %>
<% if @sock.dirty? %>
<%= link_to 'Clean', clean_sock_path(@sock), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-info' %>
<% else %>
  <%= link_to 'Dirty', dirty_sock_path(@sock), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
<% end %>
<%= link_to 'Destroy', @sock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back', :back, class: 'btn btn-link' %>
