<header class="p-2 bg-primary text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
	🧦&nbsp;
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
	<li><%= link_to 'Dashboard', root_path, 'class' => 'nav-link px-2 text-white', 'aria-current' => 'page' %></li>
	<li><%= link_to 'Socks', socks_path, 'class' => 'nav-link px-2 text-white' %></li>
      </ul>

      <!--
	<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
	<input type="search" class="form-control form-control-dark" placeholder="Search...">
	</form>
      -->

      <div class="text-end">
	<% if rodauth.logged_in? %>
	  <%= link_to "Account", account_path, class: "btn btn-link link-light text-decoration-none me-2" %>
	  <%= link_to "Log out", rodauth.logout_path, method: :post, class: "btn btn-outline-light me-2" %>
	<% else %>
	  <%= link_to "Log in", rodauth.login_path, class: "btn btn-outline-light" %>
	<% end %>
      </div>
    </div>
  </div>
</header>
