<!DOCTYPE html>
<html>
  <head>
    <title>Sockdrawer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Sockdrawer</h1>
    <%= link_to 'Dashboard', root_path %>
    <%= link_to 'Socks', socks_path %>
    <hr/>

    <%= yield %>
  </body>
</html>
